/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#custom_dash_widget.postbox .inside,
#custom_dash_widget p {
	font-size: 16px;
}

#custom_dash_widget img {
	max-width: 100%;
	height: auto;
}

#custom_dash_widget .alignright {
	margin-left: 1em;
}

#custom_dash_widget ul {
	list-style: disc;
	padding-left: 28px;
}

.dash-widget-options input[type=text] {
	width: 100%;
	padding: 8px 10px;
	font-size: 16px;
	margin-bottom: 1.5em;
}